---
import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Post.astro";

const postModules = await import.meta.glob<{ frontmatter: { title: string; created: string; image: { thumb?: string; url: string } } }>('./*.md', { eager: true });
const posts = Object.values(postModules).sort((a, b) => new Date(b.frontmatter.created).getTime() - new Date(a.frontmatter.created).getTime());
---

<Layout title="Articles — Marcus Felix">
	<section class="flex flex-col gap-10">
		<h1 class="text-3xl font-bold text-foreground-900">Articles</h1>
		<div class="grid grid-cols-1 gap-8 md:gap-6">
			{posts.map((item: any, i: number) => <Post
				index={i + 1}
				title={item.frontmatter.title}
				url={`/articles/${(item.file.split("/").at(-1) as string).replace(".md", "")}`}
				image={item.frontmatter.image.thumb ?? item.frontmatter.image.url}
			/>)}
		</div>
	</section>
</Layout>
