---
import Card from '../components/card.astro';
import Post from '../components/post.astro';
import Website from '../layouts/website.astro';
import { IconArrowDownRight, IconCircleSquare, IconChartDonut2, IconBrandSupabase, IconServer, IconBrandFirebase, IconDeviceTablet, IconPointer, IconPencil, IconEdit, IconWorld, IconDeviceDesktop, IconLink, IconExternalLink, IconBrandApple, IconBrandAndroid, IconGlobe } from '@tabler/icons-preact';

const posts = await Astro.glob('./articles/*.md');
---

<Website title="Marcus Felix">
	<main class="container mx-auto px-4">
		<div class="h-20"></div>
		<div class="flex flex-col gap-10">
			<div class="flex flex-col items-start md:flex-row gap-4">
				<a href="https://tally.so/r/nraqpN" target="_blank" class="flex items-center gap-4 bg-green-100 text-green-700 px-2 py-2 pr-6 rounded-full text-lg">
					<span class="flex items-center justify-center w-7 h-7">
						<span class="bg-green-500 w-4 h-4 rounded-full animate-ping absolute"></span>
						<span class="bg-green-500 w-3 h-3 rounded-full absolute"></span>
					</span>
					Available to work
				</a>
			</div>
			<h1 class="text-6xl md:text-7xl md:max-w-6xl text-black leading-[72px] md:leading-[82px]">Software developer & designer crafting digital experiences for web and mobile</h1>
		</div>
	</main>
	<div class="h-32"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col md:flex-row gap-8">
			<nav class="text-2xl w-full max-w-sm">
				<span class="flex items-center gap-4"><IconArrowDownRight size={28}/>Articles</span>
			</nav>
			<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-6">
				{posts.map((item) => <Post 
					image={item.frontmatter.image.url} 
					slug={(item.file.split("/").at(-1) as string).replace(".md", "")} 
					title={item.frontmatter.title}
				/>)}
			</div>
		</div>
	</section>
	<div class="h-32"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col md:flex-row gap-8">
			<nav class="md:h-16 flex text-2xl w-full max-w-sm">
				<span class="flex items-center gap-4"><IconArrowDownRight size={28}/>Work</span>
			</nav>
			<div class="w-full flex flex-col">
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2024</span>
					<h3 class="flex-1 truncate">GoodBytz GmbH</h3>
					<a href="https://goodbytz.com" target="_blank" class="hover:text-black text-zinc-400"><IconWorld/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2023</span>
					<h3 class="flex-1 truncate">Bit Electronics</h3>
					<a href="https://apps.apple.com/us/app/bit-electronics/id6450903735" target="_blank" class="hover:text-black text-zinc-400"><IconBrandApple/></a>
					<a href="https://play.google.com/store/apps/details?id=br.com.bit.electronics.app" target="_blank" class="hover:text-black text-zinc-400"><IconBrandAndroid/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2022</span>
					<h3 class="flex-1 truncate">Deplōid Studio</h3>
					<a href="https://website-71q.pages.dev" target="_blank" class="hover:text-black text-zinc-400"><IconWorld/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2021</span>
					<h3 class="flex-1 truncate">Uniman</h3>
					<a href="https://apps.apple.com/us/app/uniman/id1582471539" target="_blank" class="hover:text-black text-zinc-400"><IconBrandApple/></a>
					<a href="https://play.google.com/store/apps/details?id=com.samhaus.uniman.app" target="_blank" class="hover:text-black text-zinc-400"><IconBrandAndroid/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2019</span>
					<h3 class="flex-1 truncate">Eonix Ltda</h3>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2019</span>
					<h3 class="flex-1 truncate">2E Lighting</h3>
					<a href="https://apps.apple.com/br/app/2e-lighting-2-1/id1492108030" target="_blank" class="hover:text-black text-zinc-400"><IconBrandApple/></a>
					<a href="https://play.google.com/store/apps/details?id=br.com.disac.cliente.cliente" target="_blank" class="hover:text-black text-zinc-400"><IconBrandAndroid/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2019</span>
					<h3 class="flex-1 truncate">2E Admin</h3>
					<a href="https://apps.apple.com/br/app/2e-admin-2-2/id1492100155" target="_blank" class="hover:text-black text-zinc-400"><IconBrandApple/></a>
					<a href="https://play.google.com/store/apps/details?id=br.com.disac.admin" target="_blank" class="hover:text-black text-zinc-400"><IconBrandAndroid/></a>
				</div>
				<hr/>
				
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-zinc-400 cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2018</span>
					<h3 class="flex-1 truncate">Yaaas</h3>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-zinc-400 cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2018</span>
					<h3 class="flex-1 truncate">FTNZ</h3>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-zinc-400 cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2017</span>
					<h3 class="flex-1 truncate">Mathtronics</h3>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-zinc-400 cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2016</span>
					<h3 class="flex-1 truncate">Super Prédio</h3>
					<a href="https://www.tecmundo.com.br/apps/104627-leve-predio-bolso-app-ideal-administracao-condominios.htm" target="_blank" class="hover:text-black text-zinc-400"><IconWorld/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2014</span>
					<h3 class="flex-1 truncate">Bridge</h3>
					<a href="https://www.behance.net/gallery/48298489/Bridge-Audio-Video" target="_blank" class="hover:text-black text-zinc-400"><IconWorld/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-zinc-400 cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2013</span>
					<h3 class="flex-1 truncate">Guia América</h3>
					<a href="https://www.behance.net/gallery/48397373/Guia-Amrica" target="_blank" class="hover:text-black text-zinc-400"><IconWorld/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2011</span>
					<h3 class="flex-1 truncate">Accon</h3>
					<a href="https://www.accon.com.br" target="_blank" class="hover:text-black text-zinc-400"><IconWorld/></a>
				</div>
				<hr/>
				<div class="h-16 flex flex-row items-center gap-4 list-none text-2xl text-black cursor-pointer">
					<span class="bg-zinc-200 text-zinc-400 rounded-lg px-2 py-1">2010</span>
					<h3 class="flex-1 truncate">Infomedic Ltda</h3>
				</div>
			</div>
		</div>
	</section>
	<div class="h-32"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col md:flex-row gap-8">
			<nav class="text-2xl w-full max-w-sm">
				<span class="flex items-center gap-4"><IconArrowDownRight size={28}/>Expertise</span>
			</nav>
			<div class="w-full grid grid-cols-1 xl:grid-cols-4 gap-x-4 gap-y-6">
				<div class="px-1 flex gap-4 items-center text-lg"><IconWorld/> Landing pages</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconDeviceTablet/> Mobile apps</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconPointer/> Web apps</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconDeviceDesktop/> Desktop apps</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconChartDonut2/> Dashboards</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconServer/> Custom backend</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconBrandFirebase/> Firebase</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconBrandSupabase/> Supabase</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconEdit/> Branding</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconCircleSquare/> Icons</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconDeviceTablet/> Mockups</div>
				<div class="px-1 flex gap-4 items-center text-lg"><IconPencil/> Illustrations</div>
			</div>
		</div>
	</section>
	<div class="h-32"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col gap-8">
			<nav class="text-2xl w-full max-w-sm">
				<span class="flex items-center gap-4"><IconArrowDownRight size={28}/>Open source</span>
			</nav>
			<div class="w-full grid grid-cols-1 xl:grid-cols-3 gap-6">
				<Card
					url="https://github.com/marcusfelix/caster"
					slug="caster"
				/>
				<Card
					url="https://github.com/marcusfelix/oscorp"
					slug="oscorp"
				/>
				<Card
					url="https://github.com/marcusfelix/hausmeister"
					slug="hausmeister"
				/>
			</div>
		</div>
	</section>
	<div class="h-32"></div>
	<a name="about"></a>
	<section class="container mx-auto px-4">
		<div class="flex flex-col md:flex-row gap-8">
			<nav class="text-2xl w-full max-w-sm">
				<span class="flex items-center gap-4"><IconArrowDownRight size={28}/> About me</span>
			</nav>
			<div class="w-full flex flex-col gap-6">
				<div class="text-lg flex flex-col gap-4">
					<p>I'm a Brazilian software developer living in Hamburg, Germany, with over 14 years of experience in web, mobile, full-stack development and design.</p>
					<p>Previously, I co-founded a startup called Samhaus where we created the <a class="text-cyan-600" href="https://www.tecmundo.com.br/apps/104627-leve-predio-bolso-app-ideal-administracao-condominios.htm" target="_blank">Super Prédio</a> mobile app. I worked for 7 years as a front-end developer for a software house creating different web and mobile apps. Among many customers, Pizza Hut Delivery (Brazil) and Dominos (Brazil) stand out. Check my entire work experience on my <a class="text-cyan-600" href="https://www.linkedin.com/in/marcusvfelix/" target="_blank">LinkedIn profile</a>.</p>
					<p>My currently tech stack includes Flutter, React, SwiftUI, Golang, Node and more.</p>
				</div>
			</div>
		</div>
	</section>
</Website>
