---
import Layout from "../layouts/Layout.astro";
import GridCell from "../components/GridCell.astro";
import Post from "../components/Post.astro";
import LikeButton from "../components/LikeButton";
import Hero from "../components/Hero.astro";
import CodeWindow from "../components/CodeWindow.astro";

const posts = await Astro.glob('./articles/*.md');
---

<Layout>
	<section class="flex flex-col gap-20">
		<main class="flex flex-col justify-center">
			<Hero>
				<CodeWindow />
			</Hero>
		</main>
		<div class="flex flex-col gap-6">
			<div>
				<p class="text-xl text-foreground-500">
					Hi, I’m Marcus Felix. I develop digital products, from design to implementation. More important than building is to know what to build, and build it well. I write about my learnings and share my projects here.
				</p>
			</div>
			<div class="flex gap-4 items-stretch justify-between">
				<div class="flex gap-4">
					<LikeButton client:load/>
				</div>
			</div>
		</div>
		<div>
			<div class="grid grid-cols-1 md:grid-cols-4 border gap-px border-foreground-200 bg-foreground-200 rounded-xl overflow-hidden">
				<GridCell
					index={1}
					title="Muun GmbH"
					subtitle="Work"
					url="https://muun.studio"
				/>
				<GridCell
					index={2}	
					title="memoria"
					subtitle="Side project" 
				/>
				<GridCell
					index={3}
					title="Steely Dan"
					subtitle="Listening"
					url="https://www.steelydan.com/"
				/>
				<GridCell
					index={4}
					title="German A2"
					subtitle="Learning"
					url="https://www.vhs-hamburg.de/"
				/>
				<GridCell
					index={5}
					title="Dracula"
					subtitle="Side project"
					url="https://github.com/marcusfelix/dracula"
				/>
				<GridCell
					index={6}
					title="Barney"
					subtitle="Side project"
					url="https://github.com/marcusfelix/barney"
					class="md:col-span-2"
				/>
				<GridCell
					index={7}
					title="Fluent Forever"
					subtitle="Reading"
					url="https://hardcover.app/books/fluent-forever"
					
				/>
				<GridCell
					index={8}
					title="Hytale"
					subtitle="Gaming"
					url="https://hytale.com/"
					class="md:col-span-2"
				/>
				<GridCell
					index={8}
					title="Valheim"
					subtitle="Gaming"
					class="md:col-span-2"
					url="https://valheim.com/"
				/>
			</div>
		</div>

		<div>
			<h2 class="text-3xl font-bold text-foreground-900 mb-6">Articles</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-6">
				{posts.map((item, i) => <Post
					index={i + 1}
					title={item.frontmatter.title}
					url={`/articles/${(item.file.split("/").at(-1) as string).replace(".md", "")}`}
					image={item.frontmatter.image.thumb ?? item.frontmatter.image.url}
				/>)}
			</div>
		</div>
	</section>
</Layout>
