---
import { IconMoon, IconSun } from "@tabler/icons-preact";
import Icon from "../assets/favicon.svg";
---

<header class="container mx-auto max-w-7xl p-4 flex justify-between">
    <a href="/">
        <img src={Icon.src} class="w-18 h-18" aria-hidden="true" />
    </a>
    <nav class="flex gap-4 items-center">
        <button id="theme-toggle" class="cursor-pointer hover:text-foreground-500 transition-colors flex items-center justify-center cursor-pointer" aria-label="Toggle theme">
            <div id="sun-icon-wrapper">
                <IconSun size={24} />
            </div>
            <div id="moon-icon-wrapper">
                <IconMoon size={24} />
            </div>
        </button>
    </nav>
</header>
