---
import Icon from "../assets/favicon.svg";
---

<header class="container mx-auto max-w-7xl p-4 pt-8 flex justify-between items-center">
    <a href="/">
        <img src={Icon.src} class="w-18 h-18" aria-hidden="true" />
    </a>
    <nav>
        <a href="/articles">Articles</a>
    </nav>
</header>
