<div class="flex py-4 justify-between items-center">
    <a href="/">
        <img src="/icon.png" class="w-14 h-14"/>
    </a>
    <div class="flex gap-4 text-lg">
        <a href="/">Home</a>
        <a href="/posts">Blog</a>
    </div>
</div>